@font-face {
    font-family: neue;
    src: url(/fonts/Neue\ Montreal\ Regular\ 400.otf),
        url(/fonts/Neue\ Montreal\ Light\ 300.otf),
        url(/fonts/Neue\ Montreal\ Medium\ 500.otf);
}

* {
    margin: 0;
    padding: 0;
    font-family: neue;
    scroll-behavior: smooth;
}

html,
body {
    width: 100%;
    height: 100%;
}


:root {
    --green--: #108a00;
    --green-hov--: #14A800;
}


header {
    font-size: 14px;
    box-sizing: border-box;
    font-weight: 300;
    width: 100%;
    letter-spacing: 0.7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 24px;
    gap: 8vw;
    border-bottom: 0.5px solid rgba(200, 200, 200, 0.892);
    color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0px;
    background: white;
    z-index: 10001;

    :nth-child(1) {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 17px;


        .logo img {
            width: 80px;
            cursor: pointer;
        }

        ul {
            padding-left: 20px;
        }

        ul li {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            list-style: none;
            gap: 2px;

            span {
                width: 13px;
            }
        }

        ul li:hover {
            color: var(--green-hov--);
        }
    }

    :nth-child(2) {
        display: flex;
        align-items: center;
        justify-content: center;

        .search {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid rgba(209, 209, 209, 0.658);
            padding: 7px 12px;
            border-radius: 200px;


            form {
                display: flex;
                justify-content: center;
                align-items: center;

                .search-icon {
                    width: 18px;
                    cursor: pointer;
                }

                input {
                    margin-left: -10px;
                    border: none;
                    border-right: 1px solid rgba(209, 209, 209, 0.658);
                    outline: none;
                    width: 13vw;
                }

                ::placeholder {
                    letter-spacing: 0.6px;

                }

            }

            .talent {
                display: flex;
                align-items: center;
                justify-content: center;

                button {
                    border: none;
                    background: none;
                    letter-spacing: 1px;
                    cursor: pointer;
                }

                span {
                    width: 13px;
                    cursor: pointer;
                }
            }
        }

        .login button {
            background: none;
            border: none;
            padding: 10px 20px;
            letter-spacing: 1px;
            font-weight: 500;
            cursor: pointer;
        }

        .signup button {
            background-color: var(--green--);
            border: none;
            padding: 0px 24px;
            color: white;
            line-height: 39px;
            border-radius: 12px;
            letter-spacing: 1px;
            font-weight: 500;
            cursor: pointer;
        }

        .signup button:hover {
            background-color: var(--green-hov--);
        }
    }
}

.bar {
    position: fixed;
    background: white;
    width: 100%;
    top: 66px;
    z-index: 101;

    ul {
        display: flex;
        align-items: center;
        font-size: 14px;
        box-sizing: border-box;
        font-weight: 300;
        letter-spacing: 0.7px;
        color: rgba(0, 0, 0, 0.822);
        padding: 16px 24px;
        gap: 17px;

        li {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2px;

            span svg {
                width: 17px;
            }
        }
    }

    ul li:hover {
        text-decoration: underline;
        color: var(--green-hov--);
    }

}

section {
    margin-top: 130px;
    padding: 0px 120px;
}

.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;

    .left {
        width: 60%;

        h1 {
            font-size: 80px;
            line-height: 80px;
            color: rgb(24, 24, 24);
        }

        h3 {
            font-size: 22px;
            line-height: 32px;
            color: rgba(103, 103, 103, 0.91);
            letter-spacing: 0.5px;
            font-weight: 550;
            margin: 15px 0px 30px 0px;
        }

        button {
            background-color: var(--green--);
            border: none;
            padding: 0px 24px;
            color: white;
            line-height: 39px;
            font-size: 16px;
            border-radius: 12px;
            letter-spacing: 1px;
            font-weight: 500;
            cursor: pointer;
        }

        button:hover {
            background-color: var(--green-hov--);
        }
    }

    .right {
        width: 40%;

        img {
            height: 300px;
        }
    }
}

.trusted {

    padding: 70px 0px;

    h3 {
        font-size: 16px;
        font-weight: 550;
        color: rgba(103, 103, 103, 0.91);
        letter-spacing: 0.5px;
    }

    ul {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 30px;
        margin-top: 10px;

        li {
            list-style: none;

            img {
                height: 40px;
            }
        }
    }
}

.vid {
    display: flex;
    align-items: start;
    justify-content: space-between;

    .left2 {
        background-color: #F2F7F2;
        width: 42%;
        height: 360px;
    }

    .right2 {
        width: 58%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 0px 40px;

        h2 {
            color: rgb(24, 24, 24);
            font-size: 40px;
            line-height: 40px;
            letter-spacing: 0.5px;
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 25px;


            li {
                list-style: none;
                display: flex;
                align-items: start;
                justify-content: flex-start;
                gap: 15px;

                svg {
                    width: 25px;
                }

                .txt {

                    h3 {
                        font-size: 20px;
                        color: rgb(24, 24, 24);
                        font-weight: 600;
                        letter-spacing: 0.7px;
                    }

                    h5 {
                        font-size: 14px;
                        color: rgba(24, 24, 24, 0.785);
                        font-weight: 500;
                        letter-spacing: 0.4px;
                        padding-top: 6px;
                    }
                }
            }
        }

        .btns {

            :nth-child(1) {
                background-color: var(--green--);
                border: none;
                padding: 0px 24px;
                color: white;
                line-height: 39px;
                font-size: 16px;
                border-radius: 12px;
                letter-spacing: 1px;
                font-weight: 500;
                cursor: pointer;
            }

            :nth-child(1):hover {
                background-color: var(--green-hov--);
            }

            :nth-child(2) {
                background-color: white;
                border: 2px solid var(--green--);
                padding: 0px 22px;
                color: var(--green--);
                line-height: 37px;
                font-size: 16px;
                border-radius: 12px;
                letter-spacing: 1px;
                box-sizing: border-box;
                font-weight: 500;
                cursor: pointer;
                margin-left: 10px;
            }
        }
    }
}

.bg {
    --bg-image: url(/assets/bg.jpg);
    --bg-image-opacity: 0.1;

    margin: 60px 0px;
    width: 100%;
    height: 330px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    isolation: isolate;
    position: relative;
    gap: 30px;

    ::after {
        content: "";
        position: absolute;
        z-index: -1;
        inset: 0;
        opacity: var(--bg-image-opacity);
        background-image: var(--bg-image);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 30px;
    }

    .answers {
        background-color: white;
        padding: 25px 120px;
        border-radius: 30px;
        box-shadow: 0px 0px 7px rgba(128, 128, 128, 0.352);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;

        h2 {
            font-size: 36px;
            font-weight: 600;
            color: rgba(0, 0, 0, 0.907);
        }

        h3 {
            height: 20px;
            font-weight: 300;
            letter-spacing: 0.5px;
            color: rgba(0, 0, 0, 0.868);
        }
    }

    .ai {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        background: black;
        padding: 6px 8px;
        border-radius: 28px;

        .btns {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;

            button {
                border: none;
                padding: 6px 12px;
                border-bottom: 3.5px solid grey;
                background: white;
                border-radius: 18px;
                font-size: 14px;
                cursor: pointer;
            }

            button:hover {
                background-color: #D2FF00;
            }
        }

        svg {
            width: 35px;
            height: 35px;
            cursor: pointer;
        }

    }

}

.category {
    margin-bottom: 60px;

    h2 {
        font-size: 42px;
        color: rgb(24, 24, 24);
        margin-bottom: 15px;
    }

    h3 {
        font-size: 16px;
        color: rgb(103, 103, 103);
        font-weight: 400;
        letter-spacing: 0.5px;
        margin-bottom: 35px;

        span {
            color: var(--green--);
            text-decoration: underline;
            cursor: pointer;
        }

        span:hover {
            color: var(--green-hov--);
        }
    }

    .boxes {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 130px 130px;
        gap: 30px;


        .box {
            background-color: rgba(249, 249, 249, 255);
            display: flex;
            justify-content: center;
            align-items: start;
            flex-direction: column;
            gap: 15px;
            padding: 20px 0px 35px 20px;
            border-radius: 10px;

            h4 {
                font-size: 23px;
                color: rgb(24, 24, 24);
                font-weight: 500;
                letter-spacing: 1px;
            }

            .down {
                font-size: 16px;
                color: rgba(103, 103, 103, 0.927);
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 35px;
                letter-spacing: 0.3px;

                .rating {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 3px;

                    svg {
                        width: 15px;
                    }
                }
            }
        }

        .box:hover {
            background-color: #E9E9E9;
        }
    }
}


.suite {
    position: relative;
    width: auto;
    display: flex;
    height: 530px;

    .how {
        border-radius: 10px 0px 0px 10px;
        padding: 30px 0px 30px 30px;
        width: 53%;
        background-color: #13544E;
        justify-content: center;
        align-items: start;
        display: flex;
        flex-direction: column;
        gap: 20px;

        h3 {
            color: white;
            font-size: 22px;
            font-weight: 600;
            letter-spacing: 1.5px;
            margin-bottom: 10px;
        }

        h2 {
            font-size: 56px;
            font-weight: 550;
            color: white;
            line-height: 56px;
            letter-spacing: -1px;

            span {
                color: rgb(145, 230, 179);
            }
        }

        h4 {
            font-weight: 300;
            font-size: 18px;
            color: white;
            line-height: 23px;
            letter-spacing: 0.9px;
        }

        ul li {
            list-style: none;
            font-size: 18px;
            color: white;
            font-size: 18px;
            font-weight: 400;
            letter-spacing: 0.9px;
            margin: 0px 0px 8px 30px;
        }

        button {
            background: white;
            border: none;
            font-size: 16px;
            font-weight: 550;
            padding: 10px 25px;
            color: rgb(19, 84, 78);
            letter-spacing: 0.7px;
            border-radius: 10px;
            cursor: pointer;
        }
    }

    .pic {
        width: 47%;

        img {
            border-radius: 0px 10px 10px 0px;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}

.skill {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 80px 20px;


    ul li {
        list-style: none;
        color: #7b7b7b;
        font-size: 23px;
        font-weight: 300;
        margin-bottom: 15px;
        letter-spacing: 0.3px;
        cursor: pointer;
    }

    .left ul {

        li {
            color: #d9d9d9;
            font-weight: 550;
            font-size: 40px;
            letter-spacing: 0px;
        }

        :nth-child(1) {
            color: rgb(20, 168, 0);
        }

        li:hover {
            color: var(--green-hov--);
        }
    }

    .mid ul li:hover,
    .right ul li:hover {
        color: var(--green-hov--);
    }
}

footer {
    height: auto;
    padding-bottom: 1px;
    padding: 24px;

    ul li {
        list-style: none;
    }

    .footer {
        background: #181818;
        width: auto;
        height: auto;
        padding: 100px 60px;
        border-radius: 10px;

        .for {
            color: rgba(255, 255, 255, 0.889);
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 10px;

            .for2 {

                ul li {
                    font-weight: 400;
                    font-size: 14px;
                    margin-bottom: 6px;
                    line-height: 22px;
                    cursor: pointer;
                }

                ul li:hover {
                    text-decoration: underline;
                }

                h3 {
                    margin-bottom: 15px;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 22px;
                }


            }
        }

        .line {
            width: 100%;
            padding: 50px 0px 20px 0px;
            border-bottom: 0.7px solid rgba(255, 255, 255, 0.729);
            display: flex;
            align-items: center;
            justify-content: space-between;

            .line2 {

                h3 {
                    color: rgba(255, 255, 255, 0.895);
                    font-size: 14px;
                    letter-spacing: 0.7px;
                    padding-right: 10px;
                }

                ul {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 7px;

                    li {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: 1px solid rgba(255, 255, 255, 0.721);
                        padding: 7px;
                        border-radius: 1000px;
                    }
                }
            }

        }

        .last {
            padding: 20px 0px 0px 0px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 50px;
            letter-spacing: 0.5px;

            .c {
                font-size: 14px;
                font-weight: 550;
                color: white;
            }

            .terms {
                ul {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    color: rgba(255, 255, 255, 0.905);
                    font-size: 14px;
                    font-weight: 400;

                    li {
                        cursor: pointer;
                    }
                }

                ul li:hover {
                    text-decoration: underline;
                }
            }
        }

    }

}